footer,
header {
  @apply text-white;
}

/* Scrollbars */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 20px;
  border: 2px solid white;
}

.disabled {
  @apply pointer-events-none opacity-30;
}

* {
  font-family: 'Nunito', sans-serif;
}
